[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/LauraOrozco/DatatonBC2019/blob/master/Dataton.ipynb)

In [0]:
import itertools #iteraciones 
import numpy as np #operaciones matematicas para matrices
import matplotlib.pyplot as plt #plots
from matplotlib.ticker import NullFormatter #No se acumulen los datos
import pandas as pd #Estructuras de datos - data.frames
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
import IPython
import os
import seaborn as sns
from IPython.display import clear_output
import csv
#%matplotlib inline

In [0]:
from google.colab import drive 
drive.mount('/content/gdrive')

In [0]:
import pandas as pd 
df1 = pd.read_csv('/content/gdrive/My Drive/datatn-bancolombia-2019/DT19_Datos_transaccionales_train.csv')

In [0]:
df1.shape

In [0]:
df2 = pd.read_csv('/content/gdrive/My Drive/datatn-bancolombia-2019/DT19_Datos_Var_Rpta_train.csv')

In [0]:
df1.describe()

In [0]:
df3 = pd.merge(df1, df2)
df3

In [0]:
df3.shape

In [10]:
df2.describe()

                 id     f_analisis      var_rpta      segmento
count  76536.000000   76536.000000  76536.000000  76536.000000
mean   38268.500000  201691.858028      0.072188      3.432058
std    22094.184438      72.784837      0.258801      1.942428
min        1.000000  201601.000000      0.000000      0.000000
25%    19134.750000  201610.000000      0.000000      2.000000
50%    38268.500000  201705.000000      0.000000      4.000000
75%    57402.250000  201711.000000      0.000000      5.000000
max    76536.000000  201807.000000      1.000000      5.000000

In [11]:
df3.shape

(40533683, 11)

In [0]:
df4 = pd.read_csv('/content/gdrive/My Drive/datatn-bancolombia-2019/DT19_Datos_transaccionales_predict.csv')

In [0]:
df5 = pd.read_csv('/content/gdrive/My Drive/datatn-bancolombia-2019/DT19_IDs_predict.csv')

In [0]:
df6 = pd.merge(df4, df5)

In [15]:
df6.shape

(17376775, 10)

In [0]:
n = df3.shape[0] + df6.shape[0]

In [19]:
test = df6.shape[0]/n
print(test)

0.3000628142156983

In [21]:
train =  df3.shape[0]/n
print(train)

0.6999371857843016

In [22]:
df6.head()

      id                  fecha_trxn    canal  ... sesion  f_analisis  segmento
0  76537  2018-05-31 16:40:00.361800  CANAL_6  ...     26      201806         5
1  76537  2018-05-31 16:40:00.147800  CANAL_6  ...     26      201806         5
2  76537  2018-05-31 16:40:00.021200  CANAL_6  ...     25      201806         5
3  76537  2018-05-30 19:16:00.432600  CANAL_6  ...     24      201806         5
4  76537  2018-05-30 19:16:00.344600  CANAL_6  ...     24      201806         5

[5 rows x 10 columns]

In [0]:
df7 = pd.read_csv('/content/gdrive/My Drive/datatn-bancolombia-2019/DT19_IDs_predict.csv')